`# Window Function`

Table: Employee

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key column for this table.  
Each row of this table contains information about the salary of an employee.

Write an SQL query to report the second highest salary from the `Employee` table. If there is no second highest salary, the query should report `null`.

The query result format is in the following example.

**Example 1:**

Input:   
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

Output: 

| SecondHighestSalary |
|---------------------|
| 200                 |


**Example 2:**

Input:   
Employee table:  

| id | salary |
|----|--------|
| 1  | 100    |

Output: 

| SecondHighestSalary |
|---------------------|
| null                |

In [ ]:
# Use ranking function (here, use MAX to produce null if there's no record)
SELECT MAX(salary) SecondHighestSalary
FROM (
	SELECT salary, DENSE_RANK() OVER (ORDER BY salary DESC) drk
	FROM Employee
	) t
WHERE t.drk = 2

# Use aggregate functino
SELECT MAX(salary) SecondHighestSalary
FROM Employee
WHERE salary != (
		SELECT MAX(salary)
		FROM Employee
		)