`# Window Function`

Table: Employee

| Column Name | Type |
|-------------|------|
| id          | int  |
| salary      | int  |

id is the primary key column for this table.  
Each row of this table contains information about the salary of an employee.

Write an SQL query to report the `n`<sup>`th`</sup> highest salary from the `Employee` table. If there is no `n`<sup>`th`</sup> highest salary, the query should report `null`.

The query result format is in the following example.

**Example 1:**

Input:   
Employee table:

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

n = 2

Output: 

| getNthHighestSalary(2) |
|------------------------|
| 200                    |


**Example 2:**

Input:   
Employee table:  

| id | salary |
|----|--------|
| 1  | 100    |

n = 2

Output: 

| getNthHighestSalary(2) |
|------------------------|
| null                   |

In [ ]:
CREATE FUNCTION getNthHighestSalary (@N INT) RETURNS INT AS
BEGIN
	RETURN (
			SELECT MAX(salary)
			FROM (
				SELECT salary, DENSE_RANK() OVER (ORDER BY salary DESC) drk
				FROM Employee
				) t
			WHERE t.drk = @N
			);
END