`# Pivot` `# Window Function`

Table: Department

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| revenue     | int     |
| month       | varchar |

(id, month) is the primary key of this table.  
The table has information about the revenue of each department per month.  
The month has values in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"].

Write an SQL query to reformat the table such that there is a department id column and a revenue column **for each month**.

Return the result table in any order.

The query result format is in the following example.

**Example 1:**

Input:   
Department table:  

| id   | revenue | month |
|------|---------|-------|
| 1    | 8000    | Jan   |
| 2    | 9000    | Jan   |
| 3    | 10000   | Feb   |
| 1    | 7000    | Feb   |
| 1    | 6000    | Mar   |

Output: 

| id   | Jan_Revenue | Feb_Revenue | Mar_Revenue | ... | Dec_Revenue |
|------|-------------|-------------|-------------|-----|-------------|
| 1    | 8000        | 7000        | 6000        | ... | null        |
| 2    | 9000        | null        | null        | ... | null        |
| 3    | null        | 10000       | null        | ... | null        |

Explanation: The revenue from Apr to Dec is null.  
Note that the result table has 13 columns (1 for the department id + 12 for the months).

In [ ]:
# Use pivot function
SELECT id
	,Jan Jan_Revenue
	,Feb Feb_Revenue
	,Mar Mar_Revenue
	,Apr Apr_Revenue
	,May May_Revenue
	,Jun Jun_Revenue
	,Jul Jul_Revenue
	,Aug Aug_Revenue
	,Sep Sep_Revenue
	,Oct Oct_Revenue
	,Nov Nov_Revenue
	,Dec Dec_Revenue
FROM Department
PIVOT(
	SUM(revenue) 
	FOR month IN (Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec)
	) pvt

# Use aggreagation function
SELECT id
	,sum(case month when 'Jan' then revenue else null end) Jan_Revenue
	,sum(case month when 'Feb' then revenue else null end) Feb_Revenue
	,sum(case month when 'Mar' then revenue else null end) Mar_Revenue
	,sum(case month when 'Apr' then revenue else null end) Apr_Revenue
	,sum(case month when 'May' then revenue else null end) May_Revenue
	,sum(case month when 'Jun' then revenue else null end) Jun_Revenue
	,sum(case month when 'Jul' then revenue else null end) Jul_Revenue
	,sum(case month when 'Aug' then revenue else null end) Aug_Revenue
	,sum(case month when 'Sep' then revenue else null end) Sep_Revenue
	,sum(case month when 'Oct' then revenue else null end) Oct_Revenue
	,sum(case month when 'Nov' then revenue else null end) Nov_Revenue
	,sum(case month when 'Dec' then revenue else null end) Dec_Revenue
FROM Department
GROUP By id